button {
    background: linear-gradient(145deg, #e21010, #ea2792, #3a58c7, #2ec29d);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(145deg,  #2ec29d, #3a58c7, #ea2792, #e21010);
    transform: scale(1.05);
}

a {
    color: linear-gradient(90deg,  #2ec29d, #3a58c7, #ea2792, #e21010);
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

a::after {
    content: '';
    position: absolute;
    width: calc(100% - 40px); /* Adjust width to account for button padding */
    height: 2px;
    background: #e7429d;
    left: 20px; /* Adjust left to account for button padding */
    bottom: -2px;
    border-radius: 5px; /* Match button border radius */
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover {
    color: #FF0000;
}

a:hover::after {
    transform: scaleX(1);
}

h1, h2, h3, h4, h5, h6, label, p {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

body {
    background: linear-gradient(90deg, #FF0000, #FF008C, #335FFF, #1BD1A5);
}

button:active {
    transform: scale(1.1);
}
